body {
  display: none;
}
ul {
  list-style-type: none;
}
.artists-list {
  display: none;
}
.artist-detail {
  display: none;
}
#show-artist {
  display: none;
}
#show-add-albums {
  display: none;
}
#show-album-details {
  display: none;
}


