body {
  display: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.alphabet-index{
  display: none;
  flex-grow: 1;

}
.artists-list {
  display: none;
  flex-grow: 2;
  /* margin-left: 5px; */
}
.add-artist {
  display: none;
  flex-grow: 1;
}
.artist-detail {
  display: none;
}
#show-artist {
  display: none;
}
#show-add-albums {
  display: none;
  /* margin-left: 20px; */
}
#show-album-details {
  display: none;
  /* margin-left: 20px; */
}
.grid-container, .artist-wrapper {
  display: flex;
  /* align-items: space-around; */
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 15px;
}

/* .flexbox-item-1 {

} */